# Content stuff
/content/backups/
/content/cache/
/content/uploads/
/content/upgrade/
/content/plugins/*/

# Don't ignore custom plugin
!/content/plugins/rwc-backend/

# Theme files ignore
/content/themes/rwc-frontend/package-lock.json

# Configurations
.env

# WordPress core
/wp/

# Composer
/vendor/

# Ignore all node_modules folder
node_modules/
