<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for Plugins">
	<description>Generally-applicable sniffs for WordPress plugins</description>

	<rule ref="WordPress-Core">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
	</rule>
	<rule ref="WordPress-Docs">
		<exclude name="Squiz.Commenting.FileComment.WrongStyle" />
		<exclude name="Squiz.Commenting.FileComment.SpacingAfterComment" />
		<exclude name="Squiz.Commenting.FileComment.MissingPackageTag" />
	</rule>

	<!-- Check all PHP files in directory tree by default. -->
	<arg name="extensions" value="php"/>
	<file>content/plugins/rwc-backend</file>
	<file>content/themes/rwc-frontend</file>

	<!-- Show progress and sniff codes in all reports -->
	<arg value="ps"/>
	
	<exclude-pattern>wp</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
</ruleset>
